@media only screen and (min-width: 1224px) {
  * {
    background-color: #250025;
    color: orange; }

  html {
    width: 95%; }

  body {
    border: none; }

  a {
    text-decoration: none; }

  .inputArea {
    width: auto;
    top: 47.5%;
    left: 45%;
    position: absolute; }

  .showTable {
    height: auto;
    width: 80%;
    position: absolute;
    top: 57.5%;
    left: 10%;
    background-color: #250021; }

  input {
    border-radius: 12px;
    border: 1px solid orange;
    padding-left: 6px;
    padding-right: 8px; }

  .showAll {
    background-color: #250011; }

  .hide {
    display: none; }

  .autocompleteCont {
    height: 200px;
    /*background-color: black */ } }
/* s.f. portrat and landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  * {
    background-color: black;
    color: green; } }
